<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">

            <mat-card fxFlex.xs="75%" fxFlex="400px">
                    <mat-card-header fxLayoutAlign="center">
                        <mat-card-title >Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content >
                        <mat-form-field fxLayoutAlign="center" *ngIf="!isLoading && exercises">
                            <mat-select  placeholder="Choose Exercise" ngModel name="exercise" required>
                                <mat-option *ngFor="let exercise of exercises" value="{{exercise.id}}">
                                    {{exercise.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-spinner *ngIf="isLoading"></mat-spinner>
                    </mat-card-content>
                    <mat-card-actions fxLayoutAlign="center"  *ngIf="!isLoading">
                        <button  *ngIf="exercises" mat-button type="submit" [disabled]="f.invalid">Start</button>
                        <button  *ngIf="!exercises" mat-button type="button" (click)="fetchExercises()">Fetch Again</button>
                    </mat-card-actions>
                </mat-card>

    </form>
    
</section>